<!DOCTYPE html>
{% block content %}
   <a href="{% url 'createTask' %}"><button type="button"> New task</button></a>
   <table class="table">
   <thead class="thead-dark">
    <tr>
      <th scope="col">User</th>
      <th scope="col">Title</th>
      <th scope="col">Description</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
   {% for tasks in object_list%}
    <tr>
      <td> {{ tasks.user }}</td>
      <td> {{ tasks.title }}</td>
      <td> {{ tasks.description }}</td>
      <td> {{ tasks.status }}</td>
      <td>
          <a href="{% url 'updateTask' tasks.id %}"><button type="button"> Edit </button></a>
          <a href="{% url 'deleteTask' tasks.id %}"><button type="button"> Delete </button></a>
      </td>
    </tr>

    {% endfor %}

  </tbody>
</table>
<a href="{% url 'logout' %}"><button type="button"> logout</button></a>
{% endblock content %}